<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hi everyone</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ratione nulla a eius, illum quisquam facere. Laboriosam explicabo praesentium nemo, officiis quia tempore dicta dolorum veniam labore temporibus. Maxime, facilis.
   <%= ["ram","shyam","lakahan","sundar"][0]%>        
        </p>   
    <button>Click me!</button> 
</body>
</html>